@import "tailwindcss";
@import "./fonts/fonts.css";

@theme {
  --font-main: "Raleway", sans-serif;
  --color-primary: rgb(41, 74, 57);
}

html {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f5f5f5;
  color: #222;
}
